<div class="jumbotron col-md-7 col-sm-7">
    <h1>Welcome to Axestagoode's Photoalbum</h1>
    <p>All pictures here are used for educational purposes only!</p>
    <h6>
        <a href="https://github.com/Axestagoode">Team Axestagoode, March 2016</a>
    </h6>
</div>
<aside class="list-group col-md-3 col-sm-7">
    <a href="#/pictures" class="list-group-item active">Pictures</a>
    <a href="#/categories" class="list-group-item">Categories</a>
    <a href="#/users" class="list-group-item">Users</a>
</aside>

<!--sphere animations-->
<div class="scene">
    <div class="sphere">
        <ul class="ball">
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
            <li class="ring"></li>
        </ul>
    </div>
</div>

        <!--cube animations-->
<!--<div class='wrap'>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='outer'>-->
        <!--<div class='cube'>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
            <!--<div class='side'></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
